@layer components {
  .nav-wrapper {
    @apply flex flex-col items-center;
  }

  .nav {
    @apply flex items-center max-xxs:gap-x-3 gap-x-4.5 gap-y-2 flex-wrap max-xs:justify-center mb-5 relative;
  }

  .nav.movie-details-active::after {
    content: "Movie Details";
    @apply absolute -bottom-5 left-1/2 -translate-x-1/2 text-xs text-white whitespace-nowrap block xs:hidden;
  }

  .movie-details-text {
    @apply hidden text-sm font-semibold text-white text-center underline underline-offset-2 xs:block;
  }

  .back-button {
    @apply flex items-center gap-1 text-gray-400 text-lg font-semibold hover:text-white transition-colors cursor-pointer relative;
  }

  .back-arrow {
    @apply w-4 h-5 max-xs:w-[30px] max-xs:h-[30px];
  }

  .nav-link {
    @apply flex items-center gap-1 max-sm:h-[32px] text-gray-400 hover:text-white text-lg font-semibold transition-colors relative;

    & .favorite-icon {
      @apply w-[15px] h-[13px] max-xs:w-[27px] max-xs:h-[24px];
    }

    & .home-icon {
      @apply w-4 h-4 max-xs:w-[30px] max-xs:h-[27px];
    }

    & .unwatched-icon {
      @apply w-4 h-5 max-xs:w-8 max-xs:h-8;
    }

    & .trending-icon {
      @apply w-[17px] h-[17px] max-xs:w-[27px] max-xs:h-[27px];
    }

    & .upcoming-icon {
      @apply w-4 h-4 max-xs:w-[27px] max-xs:h-[27px];
    }
  }

  .nav-link.active {
    @apply text-white;
  }

  .nav-link.active::after {
    @apply absolute bottom-0 left-0 w-full h-[1px] bg-white max-xs:hidden;

    content: "";
    transform: scaleX(0);
    transform-origin: center;
    animation: underlineGrow 0.3s ease forwards;
  }

  .nav-link.active::before {
    content: attr(data-tooltip);
    @apply absolute -bottom-5 left-1/2 -translate-x-1/2 text-xs text-white whitespace-nowrap block xs:hidden;
  }

  .nav-link span,
  .back-button span {
    @apply max-xs:sr-only;
  }
}
